body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root{
  --height:85vh;
}


/* Navbar Part */
.navbar{
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  height: auto;

}
.logoImg{
  width:300px;
  height: 100px;
}
.hylink{
  list-style:none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.hylink li{
  margin-left: 25px;
  margin-right: 25px;
}
a{
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  color: black;
}
a:hover{
  color: rgb(55, 185, 120);
  transition: 0.25s;
}


/* Hero Part */
.HeroContainer{
 min-height: var(--height);
 height: auto;
 display: flex;
 font-size: 2.5rem;
 color: rgb(255, 255, 255);
 margin: 0 18%;
 align-items: center;
}
.heroImg{
  max-width: 800px;
  width: 100%;
}
.flexDer{
  flex-direction: column;
  text-align: left;
  margin: 0px 10px;
}


/* Special Part */
.SpecialContainer{
  min-height: var(--height);
  height: auto;
  display: flex;
  font-size: 2.5rem;
  color: black;
  margin: 0 18%;
  align-items: center;
 }
.specialTitleText{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.specialMain{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 20px;
  text-align: center;
}
.specialMain >div{
  width: 33.33333%;
  height: auto;
  min-height: 300px;
  margin: 0px 5px;
  background-color: #ffffff;
  border-radius: 16px;
}
.specialImg{
  width: 100%;
}

/* Testimonals Parts */

.TestContainer{
  min-height: var(--height);
  height: 100vh;
  display: flex;
  font-size: 2.5rem;
  color: rgb(255, 255, 255);
  margin: 0 10%;
  align-items: center;

 }
.testTitle{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  color: rgb(238, 238, 23);
}
.testMain{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  margin-top: 20px;
  text-align: center;
  color: black;
}
.testMain >div{
  width:25%;
  height: auto;
  margin: 0px 5px;
  background-color: rgb(240, 243, 245);
}
.testImg{
  width: 100%;
  height:60%;
}
.testBackground{
  background-image:url("./asset/background.jpg") ;
}

/* About us part */
.AboutContainer{
  min-height: var(--height);
  height: 20vh;
  display: flex;
  font-size: 2.5rem;
  color: rgb(255, 255, 255);
  margin: 0 18%;
  align-items: center;
}

/* Footer Part */
.FooterContainer{
  height: 20vh;
  display: flex;
  font-size: 2.5rem;
  color: rgb(255, 255, 255);
  margin: 0 18%;
  align-items: center;
}

.Footertext{
  text-align: center;
  width: 100%;
}

.BookingContainer{
  height: 20vh;
  display: flex;
  font-size: 2.5rem;
  color: rgb(0, 0, 0);
  margin: 0 18%;
  align-items: center;
}



.greenColor{
  background-color: rgba(23, 63, 23, 0.681);
}
.slimeGreenColor{
  background-color: rgba(26, 89, 18, 0.765);
}
.blackColor{
  background-color: black;
}


button{
  width: 300px;
  height: 90px;
  font-size: 2.5rem;
  background-color: rgb(192, 192, 47);
  border: 0px;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  margin-top: 20px;
}
button:hover{
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  transition: .25s;
}

.formContainer{

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
}
.formContainer >div{
  text-align: left;
}
input,select{
  font-size: 2rem;
}
.formError{
  color: rgb(230, 39, 39);
  font-size: 1.5rem;
  font-weight: 600;
}

.confirmContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;

}
.formContainer >div{
  text-align: left;
}